<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Projet Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-reboot.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-reboot.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-grid.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/landing-page.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/1-col-portfolio.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            {% if page_name is not defined %}
              {% set page_name = '' %}
            {% endif %}
            <a class="navbar-brand" href="{{path('homepage')}}">Notre Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if page_name == 'home' %}active{% endif %}">
                  <a class="nav-link" href="{{path('homepage')}}">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item {% if page_name == 'articles' %}active{% endif %}">
                  <a class="nav-link" href="{{path('Articles',{ 'page': 1 })}}">Articles
                    {% if page_name == 'articles' %}<span class="sr-only">(current)</span>{% endif %}
                  </a>
                </li>
                <li class="nav-item {% if page_name == 'products' %}active{% endif %}">
                  <a class="nav-link" href="{{path('Products',{ 'page': 1 })}}">Produits</a>
                </li>
                <li class="nav-item {% if page_name == 'about' %}active{% endif %}">
                  <a class="nav-link" href="{{path('about')}}">A Propos</a>
                </li>
                <li class="nav-item">
                  {% if is_granted('ROLE_USER')%}
                    <a class="btn btn-default" href="{{path('fos_user_security_logout')}}">Déconnexion</a>
                  {% else %}
                    <a class="btn btn-default" href="{{path('fos_user_security_login')}}">Connexion</a>
                    <a class="btn btn-primary" href="{{path('fos_user_registration_register')}}">Nouveau Compte</a>
                  {% endif %}

                </li>
              </ul>
            </div>
          </div>
        </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Mon Blog 2017</p>
      </div>
      <!-- /.container -->
    </footer>
</html>
